@import '../../../scss/variables';

input, 
textarea {
    &.input {
        font-size: 1.2em;
        line-height: 2em;
        font-weight: 600;
        max-width: 100%;
        width: 100%;
        // padding: 1em 2em;
        background-color: $bg-button;
        border: 1px solid $color-border-light;
        border-radius: $border-radius;
        transition: all .2s;
        cursor: move;

        &:disabled {
            box-shadow: none;
        }
    }
}

label {
    &.label {
        font-size: 12px;
        font-weight: 600;
        max-width: 100%;
    }
}

