@import '../../../scss/variables';

input, 
textarea {
    &.input {
        font-size: 1.2em;
        line-height: 4em;
        font-weight: 600;
        max-width: 100%;
        width: 100%;
        background-color: $bg-button;
        border: 1px solid $color-border-light;
        border-radius: $border-radius;
        transition: all .2s;
        cursor: move;

        &:disabled {
            box-shadow: none;
        }

        &--checkbox, 
        &--radio {
            width: initial;
            margin-left: 10px;
            padding: 10px !important;
            border-radius: 6px;
        }

        &--radio {
            border-radius: 100%;
        }
    }
}

label {
    &.label {
        font-size: 12px;
        font-weight: 600;
        max-width: 100%;

        &--option {
            display: flex;
            height: 30px;
            align-items: center;
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: $color-success;
        }

        &:focus + .slider {
            box-shadow: 0 0 1px $color-success;
        }

        &:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-disabled;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;

        &::before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }
    }
}
