@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

@import './scss/variables';
@import './scss/mixins';

.app {
    position: relative;
    padding: 30px 30px 30px 0;
    color: $color-primary;
    max-width: 100%;
    box-sizing: border-box;
    
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    -webkit-text-size-adjust: none;
    
    @include response('tablet') { // width < 900?
        font-size: 8px; //1 rem = 8px, 8/16 = 50%
        -webkit-text-size-adjust: none;
    }
    
    @include response('phone') { // width < 900?
        font-size: 6.4px; //1 rem = 6.4px, 6.4/16 = 40%
        -webkit-text-size-adjust: none;
    }
    
    @include response('big-desktop') {
        font-size: 12px; //1rem = 12, 12/16
        -webkit-text-size-adjust: none;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        margin-top: $default-padding;
    }

    &__stage {
        min-width: calc(((100% - 2 * 10px) / 3) * 2);
    }

    &__controllers {
        min-width: calc(((100% - 2 * 10px) / 3));
    }
}