@import '../../../scss/variables';

.edition-form {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0 30px;
    background-color: $color-highlighted;
    color: $color-primary-light;

    h2 {
        font-size: 10px;
        padding: 0;
        color: $color-primary-light;
    }

    .field-group, 
    .validation-field {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        &-row {
            flex-direction: row;
        }

        label {
            text-transform: uppercase;
            font-weight: bold;            
        }

        input {
            background-color: $color-primary-light;
            border:none;

            &.inputError {
                border: 2px dashed $color-danger;
            }
        }
    }

    .validation-field {
        margin-right: 20px;            
    }

    .required-field-group {
        flex-direction: revert;
        align-items: center;
        justify-content: flex-end;
        column-gap: 10px;
    }

    .actions {
        border-top: 1px solid $color-border-light;
        padding-top: 10px;
    }

    .button {
        padding: 10px 20px;
        background-color: $color-disabled;
        border: none;
        border-radius: 3px;
        text-transform: uppercase;
        font-weight: 600;
        margin-right: 10px;

        &--secondary {
            background-color: transparent;
            color: $color-primary-light;
        }
    }
}
