$color-highlighted: #5513d4;
$color-highlighted-alpha: #5713d47e;
$color-primary: #001151 ;
$color-primary-light: #fff ;
$color-disabled: #C9D4E4;
$color-danger: #b20b0b;
$color-success: #21f38a;
$color-warning: #f3bf21;

$bg-primary-color: #fff;

$bg-button: #F6F7FE;
$bg-button-active: $color-highlighted;

$color-border-light: #E8E7FE;
$color-border-active: #5B39FF;
$color-border-active-alpha: #5a39ff78;

//sizes
$border-radius: 8px;
$default-padding: 3em;